@CHARSET "UTF-8";
.style{
	color:red;
	display:none;
}
table{
	
	margin: auto;
}
.td{
	border:1px #000000 solid;
}
h4,button{
	text-align: center;
	font-family: 华文行楷;
	color: green;
	
}
#div1{
	margin: auto;
	text-align: center;
	color:red;
}
.div{
	margin: auto;
	text-align: center;
	color:red;
}
.table{
	text-align: center;
	border:1px #000040 solid;
	border-collapse:collapse;
	background-color: #80ffff;
	border:1;
	color:red;
}